@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,500;1,200&family=Road+Rage&display=swap');

html,
body {
    background-color: black;
    font-family: Nunito, sans-serif;
    padding: 0;
    margin: 0;
}

.block {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    perspective: 3px;
}

div.container {
    max-width: 992px;
}

section {
    background-size: cover;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.image {
    background-position: center center;
    transform: translateZ(-0.5px) scale(1.5);
    background-size: cover;
    z-index: -1;
    height: 90vh;
}
section.text {
    min-height: 30vh;
    padding: 10vh 0;
}
section.heading {
    background-color: transparent;
    z-index: -1;
    transform: translateY(-31.25vh) translateZ(1px) scale(1);
    padding: 20px 10px;
}
section.heading h2 {
    background: rgba(0, 0, 0, .25);
    color: white;
    position: absolute;
    font-size: 3rem;
    text-align: center;
    padding: 5px 0 0;
    width: 100%;
}
section.contacts {
    backgroudn-color: black;
}
a.navbar-brand {
    font-family: 'Road Rage', cursive;
    font-size: 2.5rem;
}
.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 1px solid rgba(0, 0, 0, .25);
}
section.text h3 {
    font-weight: bold;
}
